<div class="ion-page ion-text-center">
  <ion-header>
    <ion-toolbar>
      <ion-title>HogarSync</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding ion-text-center">
    <form *ngIf="formulario" [formGroup]="formulario" (ngSubmit)="saveFamilia()" >  
      <ion-item>
        <ion-label position="floating">Nombre de Familia</ion-label>
        <ion-input type="text" formControlName="nombre_familia"></ion-input>
  
        <ion-note slot="error" *ngIf="campo('nombre_familia').invalid  && campo('nombre_familia')?.errors && campo('nombre_familia').errors.required && fueTocado('nombre_familia')">
          Este campo es requerido
        </ion-note>
        <ion-note slot="error" *ngIf="campo('nombre_familia').invalid  && campo('nombre_familia')?.errors && campo('nombre_familia').errors['maxlength'] && fueTocado('nombre_familia')">
          Los caracteres maximos son 20
        </ion-note>
        <ion-note slot="error" *ngIf="campo('nombre_familia').invalid  && campo('nombre_familia')?.errors && campo('nombre_familia').errors['minlength'] && fueTocado('nombre_familia')">
          Los caracteres mínimos son 3
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-button [disabled]="formulario.invalid" role="submit" type="submit">Crear Familia</ion-button>
      </ion-item>
    </form>

    <ion-button fill="clear" [routerLink]="['/listar-familias']">Volver</ion-button>
  </ion-content>
</div>