<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>HogarSync</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"> 
    <h6 class="ion-text-center" style="font-size: 15px; font-weight:700;">BIENVENIDO A TUS NÚCLEOS FAMILIARES<br><br> {{ nombre | uppercase}}</h6>
    <br>
    <p style="font-size:13px; font-weight: 500; " class="ion-text-center">Presiona sobre la familia en la que harás tareas</p>
    <br>

    <div *ngIf="familias.length > 0; else noFamilias">
      <div *ngFor="let pro of familias">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pro.nombre_familia }} <ion-icon name="people-sharp"></ion-icon></ion-card-title>
          </ion-card-header>          
        </ion-card>
        <br>
      </div>
    </div>
    
      

    <ng-template #noFamilias>
      <p class="ion-text-center" style="font-size: 25px; font-weight:700;">No perteneces a ninguna Familia :(</p>
    </ng-template>
   
  </ion-content>
  
</div>