<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>HogarSync</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding"> 
    <h6 class="ion-text-center" style="font-size: 15px; font-weight:700;">Perteneces a las siguientes familias</h6>
    <br><br>
    
    <ion-fab (click)="create_family()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

    <div *ngIf="familias.length > 0; else noFamilias">
      <div *ngFor="let pro of familias">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ pro.nombre_familia }}</ion-card-title>
          </ion-card-header>

          <ion-card-content *ngIf="pro.is_admin; else noAdmin">
            <p>Eres Administrador de este núcleo</p>
            <ion-button (click)="administraFamilia(pro)" color="tertiary">Administrar</ion-button>
            <ion-button (click)="modificarFamilia(pro)">Modificar</ion-button>
            <ion-button (click)="eliminarFamilia(pro)" color="danger">Eliminar</ion-button>
          </ion-card-content>
          
          <ng-template #noAdmin>
            <p>Eres parte de este núcleo</p>
            <ion-button (click)="abandonarFamilia(pro)" color="danger">Abandonar</ion-button>
          </ng-template>
        </ion-card>
        <br>
      </div>
    </div>
    
      

      <ng-template #noFamilias>
        <p class="ion-text-center" style="font-size: 25px; font-weight:700;">No perteneces a ninguna Familia :(</p>
      </ng-template>
  </ion-content>
  
  
</div>